{% extends "base.html" %}

{% block title %}Account | Llama Log{% endblock %}

{% block header %}

    <div class="columns is-marginless pt-3">
        <div class="column is-5 is-offset-2">
        <h2 class="title is-size-4">My Account</h2>
        </div>
        <div class="column is-3">
            <div class="buttons is-right">
                <a class="button is-warning m-0" href="{{ url_for('user.feed', user_email=session['user_email']) }}">Back To Feed<i class="fas fa-undo"></i></a>
            </div>
        </div>
    </div>

{% endblock %}

{% block content %}

<form method="POST" action="{{ url_for('user.account', user_email=session['user_email']) }}">

    <div class="field">
        <label for="first_name" class="label">First Name <i class="fas fa-lock"></i></label>
        <div class="control has-icons-left has-icons-right">
            <input class="input is-success" id="first_name" name="first_name" type="text"
                value="{{ current_user.first_name }}" disabled>
            <span class="icon is-small is-left">
                <i class="fas fa-user"></i>
            </span>
            <span class="icon is-small is-right">
                <i class="fas fa-check"></i>
            </span>
        </div>
    </div>

    <div class="field">
        <label for="last_name" class="label">Last Name <i class="fas fa-lock"></i></label>
        <div class="control has-icons-left has-icons-right">
            <input class="input is-success" id="last_name" name="last_name" type="text"
                value="{{ current_user.last_name }}" disabled>
            <span class="icon is-small is-left">
                <i class="fas fa-user"></i>
            </span>
            <span class="icon is-small is-right">
                <i class="fas fa-check"></i>
            </span>
        </div>
    </div>

    <div class="field">
        <label for="dob" class="label">Date of Birth <i class="fas fa-lock"></i></label>
        <div class="control has-icons-left has-icons-right">
            <input class="input is-success" id="dob" name="dob" type="date" value="{{ current_user.dob }}" disabled>
            <span class="icon is-small is-left" disabled>
                <i class="fas fa-calendar-alt"></i>
            </span>
            <span class="icon is-small is-right">
                <i class="fas fa-check"></i>
            </span>
        </div>
    </div>

    <div class="field">
        <label for="phone" class="label">Phone <i class="fas fa-lock"></i></label>
        <div class="control has-icons-left has-icons-right">
            <input class="input is-success" id="phone" name="phone" type="number" value="{{ current_user.phone }}"
                disabled>
            <span class="icon is-small is-left">
                <i class="fas fa-phone"></i>
            </span>
            <span class="icon is-small is-right">
                <i class="fas fa-check"></i>
            </span>
        </div>
    </div>

    <div class="field">
        <label for="email" class="label">Email <i class="fas fa-lock"></i></label>
        <div class="control has-icons-left has-icons-right">
            <input class="input is-success" id="email" name="email" type="email" value="{{ current_user.email }}"
                disabled>
            <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
            </span>
            <span class="icon is-small is-right">
                <i class="fas fa-check"></i>
            </span>
        </div>
        <p class="help is-success">This Email is correct</p>
    </div>

    <div class="buttons has-addons is-right">
        <button type="button" id="enable-edit" class="button is-link">Edit <i class="fas fa-user-cog"></i></button>
        <a class="button is-warning" href="{{ url_for('user.feed', user_email=session['user_email'])}}">Back <i class="fas fa-undo"></i></a>
    </div>
</form>

{% endblock %}

{% block flashes %}

{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
        <article class="message is-success animate__animated animate__fadeInUp">
            <div class="message-header">
                <i class="fas fa-thumbs-up"></i>
                <p>Success!</p>
                <button class="delete flash-delete" aria-label="delete"></button>
              </div>
            <div class="message-body">
                <p>{{ message }}</p>
            </div>
        </article>
        {% endfor %}
    {% endif %}
{% endwith %}

{% endblock %}