{% extends "base.html" %}

{% block title %}Account | Llama Log{% endblock %}

{% block header %}
    <div class="columns is-marginless pt-3">
        <div class="column is-12">
        <h2 class="title is-size-4 has-text-centered">My Account</h2>
        </div>
    </div>

    <div class="columns is-marginless pt-3">
        <div class="column is-12">
            <div class="buttons has-addons is-centered">
                <button class="button reset-btn is-danger is-size-6 m-0" data-modal="reset-{{ current_user._id }}">Reset Password<i class="fas fa-key"></i></button>
                <a class="button is-warning m-0" href="{{ url_for('user.feed', user_email=session['user_email']) }}">Feed<i class="fas fa-undo"></i></a>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
<main class="container is-max-desktop is-flex is-justify-content-center is-align-items-center">
    <div class="columns is-marginless pt-3 animate__animated animate__fadeIn">
        <div class="column is-8 is-offset-2">
            <div class="box">
                <form method="POST" action="{{ url_for('user.account', user_email=session['user_email']) }}">
                    <div class="field">
                        <label for="first_name" class="label">First Name<i class="fas fa-question-circle"></i></label>
                        <div class="control has-icons-left has-icons-right">
                            <input class="input is-success" id="first_name" name="first_name" type="text"
                                value="{{ current_user.first_name }}">
                            <span class="icon is-small is-left">
                                <i class="fas fa-user"></i>
                            </span>
                            <span class="icon is-small is-right">
                                <i></i>
                            </span>
                        </div>
                        <p class="help is-danger has-text-right"></p>
                    </div>
        
                    <div class="field">
                        <label for="last_name" class="label">Last Name<i class="fas fa-question-circle"></i></label>
                        <div class="control has-icons-left has-icons-right">
                            <input class="input is-success" id="last_name" name="last_name" type="text"
                                value="{{ current_user.last_name }}">
                            <span class="icon is-small is-left">
                                <i class="fas fa-user"></i>
                            </span>
                            <span class="icon is-small is-right">
                                <i></i>
                            </span>
                        </div>
                        <p class="help is-danger has-text-right"></p>
                    </div>
        
                    <div class="field">
                        <label for="dob" class="label">Date of Birth<i class="fas fa-question-circle"></i></label>
                        <div class="control has-icons-left has-icons-right">
                            <input class="input is-success" id="dob" name="dob" type="date" value="{{ current_user.dob }}">
                            <span class="icon is-small is-left">
                                <i class="fas fa-calendar-alt"></i>
                            </span>
                            <span class="icon is-small is-right">
                                <i></i>
                            </span>
                        </div>
                        <p class="help is-danger has-text-right"></p>
                    </div>
        
                    <div class="field">
                        <label for="phone" class="label">Phone<i class="fas fa-question-circle"></i></label>
                        <div class="control has-icons-left has-icons-right">
                            <input class="input is-success" id="phone" name="phone" type="number" value="{{ current_user.phone }}">
                            <span class="icon is-small is-left">
                                <i class="fas fa-phone"></i>
                            </span>
                            <span class="icon is-small is-right">
                                <i></i>
                            </span>
                        </div>
                        <p class="help is-danger has-text-right"></p>
                    </div>
        
                    <div class="field">
                        <label for="email" class="label">Email<i class="fas fa-question-circle"></i></label>
                        <div class="control has-icons-left has-icons-right">
                            <input class="input is-success" id="email" name="email" type="email" value="{{ current_user.email }}">
                            <span class="icon is-small is-left">
                                <i class="fas fa-envelope"></i>
                            </span>
                            <span class="icon is-small is-right">
                                <i></i>
                            </span>
                        </div>
                        <p class="help is-danger has-text-right"></p>
                    </div>

                    <progress class="progress" value="0" max="100"></progress>
        
                    <div class="field">
                        <div class="control">
                            <div class="buttons is-right">
                                <button type="submit" class="button is-link my-1 mx-0">Update Account<i class="fas fa-save"></i></button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>

    <div class="modal" data-modal="reset-{{ current_user._id }}">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
            <p class="modal-card-title">Are You Sure?</p>
            <button class="delete close-modal" aria-label="close"></button>
            </header>
            <section class="modal-card-body">
            <p>Resetting your password will require you to create a new one.</p>
                <div class="message-body has-background-dark has-text-white">
                    <p class="is-warning">Resetting your password will redirect you to the log in page.</p>
                </div>
            </section>
            <footer class="modal-card-foot is-justify-content-end">
            <div class="buttons">
                <button class="button close-modal is-warning my-0">Cancel <i class="fas fa-undo"></i></button>
                <a href="{{ url_for('admin.reset_password', user_id=current_user._id) }}" class="button is-danger is-size-6 m-0">Reset Password<i class="fas fa-key"></i></a>
            </div>
            </footer>
        </div>
    </div>
{% endblock %}

{% block flashes %}

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
        <article class="message {{ 'is-success' if category == 'success' else 'is-danger' }} animate__animated animate__fadeInUp">
            <div class="message-header">
                    {% if category == "success" %}
                    <i class="fas fa-thumbs-up"></i>
                    <p>Success!</p>
                    {% else %}
                    <i class="fas fa-exclamation-triangle"></i>
                    <p>Error!</p>
                    {% endif %}
                    <button class="delete flash-delete" aria-label="delete"></button>
                </div>
                <div class="message-body">
                    <p>{{ message }}</p>
                </div>
            </article>
        {% endfor %}
    {% endif %}
{% endwith %}

{% endblock %}

{% block js %}

    <!-- Development -->
    <script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.min.js"></script>
    <script src="https://unpkg.com/tippy.js@6/dist/tippy-bundle.umd.js"></script>

    <!-- Production -->
    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="https://unpkg.com/tippy.js@6"></script>

    <!-- Tooltips -->
    <script src="{{ url_for('static', filename='js/tooltips.js') }}"></script>

    <!-- Form -->
    <script src="{{ url_for('static', filename='js/form.js') }}"></script>

{% endblock %}