{% extends "base.html" %}

{% block title %}Create New Post | Llama Log{% endblock %}

{% block header %}
    <div class="columns is-marginless pt-3">
        <div class="column is-12">
          <h2 class="title is-size-4 has-text-centered">
            {% if category == "work_order" %}
                Create Work Order Post
            {% else %}
                Create New Incident Post
            {% endif %}
          </h2>
        </div>
      </div>
      <div class="columns is-marginless pt-3">
        <div class="column is-12">
            <div class="buttons is-centered">
                <a class="button is-warning m-0" href="{{ url_for('user.feed', user_email=session['user_email']) }}">Back To Feed<i class="fas fa-undo"></i></a>
            </div>
        </div>
      </div>
{% endblock %}

{% block content %}
<main class="container is-max-desktop is-flex is-justify-content-center is-align-items-center">
    <div class="columns is-centered animate__animated animate__fadeIn">
        <div class="column is-flex is-justify-content-center">
            <div id="center-box" class="box">
                <div class="columns is-multiline">
                    <div class="column is-12 is-flex is-justify-content-center is-align-items-center is-flex-direction-column">
                        <form method="POST" action="{{ url_for('user.create_post', category=category)}}">
                            <div class="field">
                                <label for="title" class="label">Title<i class="fas fa-question-circle"></i></label>
                                <div class="control has-icons-left has-icons-right">
                                    <input class="input" id="title" name="title" type="text" placeholder="Enter Work Order Title">
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-user"></i>
                                    </span>
                                    <span class="icon is-small is-right">
                                        <i></i>
                                    </span>
                                </div>
                                <p class="help is-danger has-text-right"></p>
                            </div>
            
                            {% if category == "work_order" %}
            
                                <div class="field">
                                    <label for="equipment" class="label">Equipment<i class="fas fa-question-circle"></i></label>
                                    <div class="control has-icons-left has-icons-right">
                                        <input class="input" id="equipment" name="equipment" type="text" placeholder="Enter Equipment">
                                        <span class="icon is-small is-left">
                                            <i class="fas fa-user"></i>
                                        </span>
                                        <span class="icon is-small is-right">
                                            <i></i>
                                        </span>
                                    </div>
                                    <p class="help is-danger has-text-right"></p>
                                </div>
            
                            {% else %}
                                
                            <div class="control">
                                <label for="was_customer_involved" class="label">Was A Customer Involved?<i class="fas fa-question-circle"></i></label>
                                <label class="radio">
                                <input type="radio" name="was_customer_involved" checked>No
                                </label>
                                <label class="radio">
                                <input type="radio" name="was_customer_involved">Yes
                                </label>
                            </div>
            
                            {% endif %}
            
                            <div class="field">
                                <label for="description" class="label">Description<i class="fas fa-question-circle"></i></label>
                                <div class="control">
                                <textarea class="textarea" name="description" id="description" placeholder="Textarea"></textarea>
                                </div>
                                <p class="help is-danger has-text-right"></p>
                            </div>
            
            
                            <div class="buttons is-right">
                                <button type="submit" class="button is-link my-1 mx-0">
                                    {% if category == "work_order" %}
                                        Submit Work Order
                                    {% else %}
                                        Submit Incident 
                                    {% endif %}
                                    <i class="fas fa-paper-plane"></i>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}

{% block js %}

    <!-- Development -->
    <script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.min.js"></script>
    <script src="https://unpkg.com/tippy.js@6/dist/tippy-bundle.umd.js"></script>

    <!-- Production -->
    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="https://unpkg.com/tippy.js@6"></script>

    <!-- Tooltips -->
    <script src="{{ url_for('static', filename='js/tooltips.js') }}"></script>

    <!-- Form -->
    <script src="{{ url_for('static', filename='js/form.js') }}"></script>

{% endblock %}