{% extends "base.html" %}

{% block title %}Feed | Llama Log{% endblock %}

{% block header %}Feed{% endblock %}

{% block content %}

<div class="columns is-marginless">
    <div class="column is-8 is-offset-2 has-text-centered">
        <div class="dropdown">
            <div class="dropdown-trigger">
              <button class="button is-link" aria-haspopup="true" aria-controls="create-post-option">
                <span>Create New Post</span>
                <span class="icon is-small">
                  <i class="fas fa-angle-down" aria-hidden="true"></i>
                </span>
              </button>
            </div>
            <div class="dropdown-menu" id="create-post-option" role="menu">
              <div class="dropdown-content">
                <a href="{{ url_for('user.create_post', category='work_order') }}" class="dropdown-item has-text-left">Work Order <i class="fas fa-tools"></i></a>
                <hr class="dropdown-divider">
                <a href="{{ url_for('user.create_post', category='work_order') }}" class="dropdown-item has-text-left">Incident <i class="fas fa-comments"></i></a>
              </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block flashes %}

{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
        <article class="message is-success animate__animated animate__fadeInUp">
            <div class="message-header">
                <i class="fas fa-thumbs-up"></i>
                <p>Success!</p>
                <button class="delete flash-delete" aria-label="delete"></button>
              </div>
            <div class="message-body">
                <p>{{ message }}</p>
            </div>
        </article>
        {% endfor %}
    {% endif %}
{% endwith %}

{% endblock %}
