{% extends "base.html" %}

{% block title %}Feed | Llama Log{% endblock %}

{% block header %}Feed{% endblock %}

{% block content %}

<div class="columns is-marginless">
    <div class="column is-8 is-offset-2 has-text-centered">
        <a class="button is-link" href="{{ url_for('admin.create_user') }}">Create New Post</a>
        <div class="dropdown">
            <div class="dropdown-trigger">
              <button class="button" aria-haspopup="true" aria-controls="dropdown-menu2">
                <span>Content</span>
                <span class="icon is-small">
                  <i class="fas fa-angle-down" aria-hidden="true"></i>
                </span>
              </button>
            </div>
            <div class="dropdown-menu" id="dropdown-menu2" role="menu">
              <div class="dropdown-content">
                <div class="dropdown-item">
                  <p>You can insert <strong>any type of content</strong> within the dropdown menu.</p>
                </div>
                <hr class="dropdown-divider">
                <div class="dropdown-item">
                  <p>You simply need to use a <code>&lt;div&gt;</code> instead.</p>
                </div>
                <hr class="dropdown-divider">
                <a href="#" class="dropdown-item">
                  This is a link
                </a>
              </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}