{% extends "base.html" %}

{% block title %}Feed | Llama Log{% endblock %}

{% block header %}
  <div class="columns is-marginless pt-3">
    <div class="column is-5 is-offset-2">
      <h2 class="title is-size-4">Feed</h2>
    </div>
    <div class="column is-3">
        <div class="buttons is-right">
          <div class="dropdown is-right">
            <div class="dropdown-trigger">
              <button class="button is-link" aria-haspopup="true" aria-controls="create-post-option">
                <span>Create New Post</span>
                <span class="icon is-small">
                  <i class="fas fa-angle-down" aria-hidden="true"></i>
                </span>
              </button>
            </div>
            <div class="dropdown-menu" id="create-post-option" role="menu">
              <div class="dropdown-content">
                <a href="{{ url_for('user.create_post', category='work_order') }}" class="dropdown-item has-text-left">Work Order <i class="fas fa-tools"></i></a>
                <hr class="dropdown-divider">
                <a href="{{ url_for('user.create_post', category='incident') }}" class="dropdown-item has-text-left">Incident <i class="fas fa-comments"></i></a>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
{% endblock %}

{% block content %}

{% for post in posts %}
  <div class="columns is-marginless">
    <div class="column is-8 is-offset-2">
      <article class="card">
        <header class="card-header {% if 'equipment' in post %} has-background-link {% else %} has-background-success {% endif %}">
          <a class="header-link is-flex" href="{{ url_for('user.view_post', post_id=post['_id'])}}">
            <h3 class="card-header-title has-text-white-bis">
              {% if "equipment" in post %}
                <i class="fas fa-tools ml-0 mr-2"></i>
              {% else %}
                <i class="fas fa-exclamation-circle ml-0 mr-2"></i>
              {% endif %}
              {{ post.title }}
              </h3>
          </a>
            <div class="dropdown is-right card-header-icon">
              <div class="dropdown-trigger">
                <button class="button is-ghost has-text-right" aria-haspopup="true" aria-controls="dropdown-menu">
                  <span class="icon has-text-white-bis">
                    <i class="fas fa-ellipsis-h" aria-hidden="true"></i>
                  </span>
                </button>
              </div>
              <div class="dropdown-menu" id="dropdown-menu" role="menu">
                <div class="dropdown-content">
                  <a href="{{ url_for('user.view_post', post_id=post['_id'])}}" class="dropdown-item">
                    View Post
                    <i class="fas fa-eye" aria-hidden="true"></i>
                  </a>
                  {% if post.author_id == session["user_id"]%}
                    <a href="{{ url_for('user.edit_post', post_id=post['_id'])}}" class="dropdown-item">
                      Edit Post
                      <i class="fas fa-edit" aria-hidden="true"></i>
                    </a>
                    <hr class="dropdown-divider">
                    <a href="{{ url_for('user.delete_post', post_id=post['_id'])}}" class="dropdown-item">
                      Delete Post
                      <i class="fas fa-trash-alt" aria-hidden="true"></i>
                    </a>
                  {% endif %}
                </div>
              </div>
            </div>
        </header>
        <section class="card-content p-4">
          <div class="content">
            <p class="add-text-overflow-cutoff">{{ post.description }}</p>
          </div>
        </section>
        <footer class="card-footer">
          <div class="card-footer-item">
            <p class="is-size-7">0 Comments</p>
          </div>
          <div class="card-footer-item">
            <p class="is-size-7">By: {{ post.author_name }}</p>
          </div>
          <div class="card-footer-item">
            <time class="mr-2 is-size-7">
              {{ post.date_created.strftime("%I") + ":" + 
                  post.date_created.strftime("%M") + 
                  post.date_created.strftime("%p")}}
            </time>
            <p class="is-size-7">
              {{ post.date_created.strftime("%d") + " " + 
                  post.date_created.strftime("%b") + " " + 
                  post.date_created.strftime("%Y")}}
            </p>
          </div>
        </footer>

      </article>
    </div>
  </div>
{% endfor %}




{% endblock %}

{% block flashes %}

{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
        <article class="message is-success animate__animated animate__fadeInUp">
            <div class="message-header">
                <i class="fas fa-thumbs-up"></i>
                <p>Success!</p>
                <button class="delete flash-delete" aria-label="delete"></button>
              </div>
            <div class="message-body">
                <p>{{ message }}</p>
            </div>
        </article>
        {% endfor %}
    {% endif %}
{% endwith %}

{% endblock %}

{% block js %}
  <script src="{{ url_for('static', filename='js/clamp.min.js') }}"></script>
{% endblock %}
