{% extends "base.html" %}

{% block title %}View Post | Llama Log{% endblock %}

{% block header %}
  <div class="columns is-marginless pt-3">
    <div class="column is-12">
      <h2 class="title is-size-4 has-text-centered">
        Editing Comment<i class="fas fa-question-circle is-size-5"></i>
      </h2>
    </div>
  </div>

  <div class="columns is-marginless pt-3">
    <div class="column is-12">
        <div class="buttons is-centered">
            <a class="button is-warning m-0" href="{{ url_for('user.view_post', post_id=post['_id']) }}">Back To Post<i class="fas fa-undo"></i></a>
        </div>
    </div>
  </div>
{% endblock %}

{% block content %}
<main class="container is-max-desktop">
  <div class="columns is-marginless animate__animated animate__fadeIn">
    <div class="column is-8 is-offset-2">
      <article class="card">
        <header class="card-header {% if 'equipment' in post %} has-background-work-order {% else %} has-background-work-order {% endif %}">
            <h3 class="card-header-title has-text-white-bis">
              {% if "equipment" in post %}
                  <i class="fas fa-tools ml-0 mr-2"></i>
                {% else %}
                <i class="fas fa-exclamation-circle ml-0 mr-2"></i>
                {% endif %}
                {{ post.title }}
              </h3>
            {% if post.author_id == session["user_id"]%}
            <div class="dropdown is-right card-header-icon">
              <div class="dropdown-trigger">
                <button class="button is-ghost has-text-right" aria-haspopup="true" aria-controls="dropdown-menu">
                  <span class="icon has-text-white-bis">
                    <i class="fas fa-ellipsis-h" aria-hidden="true"></i>
                  </span>
                </button>
              </div>
              <div class="dropdown-menu" id="dropdown-menu" role="menu">
                <div class="dropdown-content">
                    <a href="{{ url_for('user.edit_post', post_id=post['_id'])}}" class="dropdown-item">
                      Edit Post
                      <i class="fas fa-edit" aria-hidden="true"></i>
                    </a>
                    <hr class="dropdown-divider">
                    <button class="dropdown-item is-ghost delete-btn" data-modal="{{ post._id }}">
                      Delete Post
                      <i class="fas fa-trash-alt" aria-hidden="true"></i>
                    </button>
                  </div>
                </div>
              </div>
              {% elif session["user_is_admin"] == True %}
              <div class="dropdown is-right card-header-icon">
                <div class="dropdown-trigger">
                  <button class="button is-ghost has-text-right" aria-haspopup="true" aria-controls="dropdown-menu">
                    <span class="icon has-text-white-bis">
                      <i class="fas fa-ellipsis-h" aria-hidden="true"></i>
                    </span>
                  </button>
                </div>
                <div class="dropdown-menu" id="dropdown-menu" role="menu">
                  <div class="dropdown-content">
                      <button class="dropdown-item is-ghost delete-btn" data-modal="{{ post._id }}">
                        Delete Post
                        <i class="fas fa-trash-alt" aria-hidden="true"></i>
                      </button>
                    </div>
                  </div>
                </div>
              {% endif %}
        </header>
        <section class="card-content p-4">
          <div class="content">
            {% if "equipment" in post %}
              <p class="is-size-7 mb-0">
                <i>
                    Equipment: {{ post.equipment }}
                </i>
              </p>
              <p class="mb-2">
                {{ post.equipment }}
              </p>
            {% else %}
              {% if post["customer_name"] != "" %}
                <p class="is-size-7 mb-0">
                  <i>
                    Customer:
                  </i>
                </p>
                <p class="mb-2">
                    {{ post.customer_name }}
                </p>
                <p class="is-size-7 mb-0">
                  <i>
                    Phone:
                  </i>
                </p>
                <p class="mb-2">
                  {{post.customer_phone}}
                </p>
                {% else %}
                <p class="is-size-7 mb-0">
                  <i>
                    No Customers Involved
                  </i>
                </p>
              {% endif %}
            {% endif %}
            <hr>
            <p class="is-size-7 mb-0">
              <i>
                Description:
              </i>
            </p>
            <p>{{ post.description }}</p>
          </div>
        </section>
        <footer class="card-footer">
          <div class="card-footer-item is-justify-content-center is-align-items-center">
            <p class="is-size-7">
              {% if post["amount_of_comments"] == 1 %}
                1 Comment
              {% elif post["amount_of_comments"] > 1 %}
                {{ post["amount_of_comments"] }} Comments
              {% else %}
                No Comments
              {% endif %}
            </p>
          </div>
          <div class="card-footer-item is-justify-content-center is-align-items-center">
            <p class="is-size-7">By: {{ post.author_name }}</p>
          </div>
          <div class="card-footer-item column-mobile">
            <time class="mr-2 is-size-7">
              {{ post.date_created.strftime("%I") + ":" + 
                  post.date_created.strftime("%M") + 
                  post.date_created.strftime("%p")}}
            </time>
            <p class="is-size-7">
              {{ post.date_created.strftime("%d") + " " + 
                  post.date_created.strftime("%b") + " " + 
                  post.date_created.strftime("%Y")}}
            </p>
          </div>
        </footer>
      </article>
    </div>
  </div>

  <div class="modal" data-modal="{{ post._id }}">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title"><i class="fas fa-exclamation-triangle"></i>Are You Sure?</p>
        <button class="delete close-modal" aria-label="close"></button>
      </header>
      <section class="modal-card-body">
        <p>The content within this post could be valuable to you or colleague's during future workplace problems.</p>
        <hr>
        <div class="message-body message-danger has-text-white">
          <p><i class="fas fa-exclamation-triangle"></i>Deleting a post will also remove the comments associated with it.</p>
        </div>
      </section>
      <footer class="modal-card-foot is-justify-content-end">
        <div class="buttons">
          <button class="button close-modal is-warning my-0">Cancel<i class="fas fa-undo"></i></button>
          <a href="{{ url_for('user.delete_post', post_id=post['_id'])}}" class="button is-danger my-0">Delete Post<i class="fas fa-trash-alt"></i></a>
        </div>
      </footer>
    </div>
  </div>
  
  <div class="columns is-marginless animate__animated animate__fadeIn">
    <div class="column is-8 is-offset-2">
      <div class="card">
        <div class="card-header">
          <p class="card-header-title">
            Update Comment
          </p>
        </div>
        <div class="card-content p-5">
          <form id="commentForm" method="POST" action="{{ url_for('user.update_comment', comment_id=comment['_id'])}}">
            <div class="field">
              <label for="content" class="label">Comment<i class="fas fa-question-circle"></i></label>
              <div class="control">
                <textarea class="textarea" placeholder="Update your comment here..." rows="3" id="content" 
                name="content" minlength="5" maxlength="250" rows="2" required>{{ comment['content'] }}</textarea>
              </div>
              <p class="help is-danger has-text-right"></p>
            </div>
  
            <div class="field">
              <div class="control">
                <div class="buttons is-right">
                  <button type="submit" class="button is-link my-1 mx-0" disabled>
                      Update Comment
                      <i class="fas fa-save"></i>
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>

{% endblock %}

{% block js %}

    <!-- Development -->
    <script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.min.js"></script>
    <script src="https://unpkg.com/tippy.js@6/dist/tippy-bundle.umd.js"></script>

    <!-- Production -->
    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="https://unpkg.com/tippy.js@6"></script>

    <!-- Tooltips -->
    <script src="{{ url_for('static', filename='js/tooltips.js') }}"></script>

    <!-- Form -->
    <script src="{{ url_for('static', filename='js/form.js') }}"></script>

{% endblock %}