:root {
    --primary-color: hsla(178, 75%, 20%, 1);
    --faded-primary-color: hsla(178, 75%, 20%, 0.9);
    --white-color: hsla(0, 0%, 98%, 1);
    --black-color: hsla(0, 0%, 12%, 1);
    --danger-color: hsla(353, 56%, 40%, 1);
    --faded-danger-color: hsla(353, 56%, 40%, 0.9);
    --warning-color: hsla(51, 100%, 56%, 1);
    --faded-warning-color: hsla(51, 100%, 56%, 0.75);
    --work-order-color: hsla(241, 27%, 44%, 1);
    --incident-color: hsla(197, 100%, 32%, 1);
    --transparent-white-color: hsla(0, 0%, 98%, 0.8);
    --transition-speed: 300ms;
}

body {
    font-family: 'Lexend', sans-serif;
    height: 100vh;
    color: var(--black-color);
}

/* Utilities */

header.container {
    min-height: 15vh;
}

main.container {
    min-height: 80vh;
}

main.container > .columns {
    min-height: 100%;
    width: 100%;
}

.columns.is-multiline .column {
    width: 464px;
}

@media screen and (max-width: 567px){
    .columns.is-multiline .column {
        width: 100%;
    }
}

.column > form {
    width: 100%;
}

.help {
    height: 0.5rem;
}

p.help.is-danger {
    color: var(--danger-color);
}

.fas,
.far {
    margin-left: .25rem;
}

.message-danger {
    background-color: var(--faded-danger-color);
}

/* Buttons */

button {
    font-family: 'Lexend', sans-serif;
}

.button.is-primary {
    background-color: var(--primary-color);
}

.button.is-link {
    background-color: var(--primary-color);
}

.button.is-link:disabled {
    background-color: var(--faded-primary-color);
}

.button.is-warning {
    background-color: var(--warning-color);
    color: var(--black-color);
}

.button.is-warning:active,
.button.is-warning:hover {
    background-color: var(--faded-warning-color);
    color: var(--black-color);
}


.button.is-info {
    background-color: hsla(213, 50%, 56%, 1);
}

.button.is-danger {
    background-color: var(--danger-color);
    color: var(--white-color);
}

.button.is-danger:active,
.button.is-danger:hover {
    background-color: var(--faded-danger-color);
    color: var(--white-color);
}

.button.is-link.is-active,
.button.is-link:active,
.button.is-link:hover,
.button.is-primary:hover,
.button.is-primary:active {
    color: var(--white-color);
    background-color: var(--faded-primary-color);
}

/* Navbar */

.navbar,
.navbar-dropdown {
    background-color: var(--primary-color);
}

.nav-logo-text {
    color: var(--white-color);
    margin-left: .5rem;
}

.navbar-item {
    color: var(--transparent-white-color);
    transition: color var(--transition-speed) ease-in-out;
}

.navbar-item.is-active {
    font-weight: bold;
}

.navbar-link.is-active,
.navbar-link:focus,
.navbar-link:focus-within,
.navbar-link:hover,
a.navbar-item.is-active,
a.navbar-item:focus,
a.navbar-item:focus-within,
a.navbar-item:hover,
.navbar-dropdown a.navbar-item:hover {
    background-color: transparent;
    color: var(--white-color);
}

.navbar-dropdown a.navbar-item.is-active {
    color: var(--white-color);
    font-weight: bold;
}

.navbar-burger span {
    background-color: var(--white-color);
    transition-duration: var(--transition-speed);
}

@media screen and (max-width: 1023px){
    .navbar-menu {
        background-color: var(--primary-color);
        position: absolute;
        left: 0;
        right: 0;
    }
}

/* Flash messages */

article.message.is-success,
article.message.is-danger {
    position: fixed;
    bottom: -0.5rem;
    right: 1rem;
}

article.message.is-success {
    background-color: var(--faded-primary-color);
}

article.message.is-success .message-header {
    background-color: var(--primary-color);
}

article.message.is-success .message-body {
    color: var(--white-color);
}

article.message.is-danger {
    background-color: var(--faded-danger-color);
}

article.message.is-danger .message-header {
    background-color: var(--danger-color);
}

article.message.is-danger .message-body {
    color: var(--white-color);
}

@media screen and (max-width: 576px){
    article.message.is-success,
    article.message.is-danger {
    left: 1rem;
}
}

/* Login page */

.columns.is-vcentered.is-centered {
    height: 100%;
}

#center-box {
    max-width: 30rem;
}

/* Feed page */

.dropdown .dropdown-menu {
    left: -1.5rem;
    right: -1.5rem;
}

.header-link {
    width: 100%;
}

header.has-background-work-order {
    background-color: var(--work-order-color);
}

header.has-background-incident {
    background-color: var(--incident-color);
}

header.has-background-info {
    background-color: hsla(213, 50%, 56%, 1);
}

.is-text-primary {
    color: var(--primary-color);
    font-weight: bold;
}

.fas.fa-ellipsis-h {
    margin-left: 0;
}

.fas.fa-ellipsis-h::after {
    content: '';
    position: absolute;
    background: hsla(0, 0%, 98%, 0.1);
    border-radius: 50%;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
}

.dropdown-menu {
    padding-top: 0;
}

.dropdown-item.delete-btn,
.button.delete-btn {
    background-color: transparent;
    border: none;
    font-family: inherit;
    cursor: pointer;
}

@media screen and (max-width: 768px){
    .card-footer .card-footer-item.column-mobile {
        flex-direction: column;
        justify-content: center;
    }
}

/* View post page */

.card-footer-item {
    justify-content: space-between;
}

.buttons:last-child {
    margin-bottom: 0;
}

.title {
    line-height: 1.5;
}

@media screen and (min-width: 768px){
    .container {
        max-width: 760px;
    }
}

/* Form styling */

progress.progress {
    -webkit-appearance: none; /* Needed for WebKit/Blink */
}

/* Was taken from https://codepen.io/AKGD/pen/Bmxpdb */
.progress::-webkit-progress-value {
    transition: width 0.5s ease;
}

progress[value]::-webkit-progress-value,
progress.progress::-webkit-progress-bar,
progress.progress::-moz-progress-bar {
    background: var(--primary-color);

}

.is-danger.input {
    border-color: var(--danger-color);
}

i.has-text-danger {
    color: var(--danger-color) !important;
}

i.has-text-success {
    color: var(--primary-color) !important;
}

/* Footer styling */

.footer .content .columns .column:last-child {
    align-items: center;
}

@media screen and (min-width: 769px){
    .footer .content .columns .column:last-child {
        align-items: flex-end;
    }
}

/* Modal styling */

.fas.fa-exclamation-triangle {
    margin-right: 0.5rem;
}

header.modal-card-head {
    background-color: var(--primary-color);
}

header.modal-card-head .modal-card-title {
    color: var(--white-color);
}

.modal-card {
    padding: 0 12px;
}

@media screen and (min-width: 768px){
    .modal-card, .modal-content {
        width: 506.6px;
    }
}

/* Tippy styling & theme */

@media screen and (max-width: 567px){
    [data-tippy-root] {
        max-width: 10rem;
    }
}

.tippy-box[data-theme~='llama-log'] {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.tippy-box[data-theme~='llama-log'][data-placement^='top'] > .tippy-arrow::before {
    border-top-color: var(--primary-color);
  }
  .tippy-box[data-theme~='llama-log'][data-placement^='bottom'] > .tippy-arrow::before {
    border-bottom-color: var(--primary-color);
  }
  .tippy-box[data-theme~='llama-log'][data-placement^='left'] > .tippy-arrow::before {
    border-left-color: var(--primary-color);
  }
  .tippy-box[data-theme~='llama-log'][data-placement^='right'] > .tippy-arrow::before {
    border-right-color: var(--primary-color);
  }