:root {
    --primary-color: hsla(178, 75%, 20%, 1);
    --faded-primary-color: hsla(178, 75%, 20%, 0.9);
    --white-color: hsla(0, 0%, 98%, 1);
    --transparent-white-color: hsla(0, 0%, 98%, 0.8);
    --transition-speed: 300ms;
}

body {
    font-family: 'Lexend', sans-serif;
    height: 100vh;
}

/* Utilities */

main.container {
    height: 80vh;
}

.fas,
.far {
    margin-left: .25rem;
}

/* Buttons */

.button.is-primary {
    background-color: var(--primary-color);
}

/* Navbar */

.navbar,
.navbar-dropdown {
    background-color: var(--primary-color);
}

.nav-logo-text {
    color: var(--white-color);
    margin-left: .5rem;
}

.navbar-item {
    color: var(--transparent-white-color);
    transition: color var(--transition-speed) ease-in-out;
}

.navbar-item.is-active {
    font-weight: bold;
}

.navbar-link.is-active,
.navbar-link:focus,
.navbar-link:focus-within,
.navbar-link:hover,
a.navbar-item.is-active,
a.navbar-item:focus,
a.navbar-item:focus-within,
a.navbar-item:hover,
.navbar-dropdown a.navbar-item:hover {
    background-color: transparent;
    color: var(--white-color);
}

.navbar-dropdown a.navbar-item.is-active {
    color: var(--white-color);
    font-weight: bold;
}

.navbar-burger span {
    background-color: var(--white-color);
    transition-duration: var(--transition-speed);
}

@media screen and (max-width: 1023px){
    .navbar-menu {
        background-color: var(--primary-color);
        position: absolute;
        left: 0;
        right: 0;
    }
}

/* Flash messages */

article.message.is-success,
article.message.is-danger {
    position: fixed;
    bottom: 0;
    right: 1rem;
}

/* Login page */

.columns.is-vcentered.is-centered {
    height: 100%;
}

#login-box {
    max-width: 30rem;
}



/* Feed page */

.header-link {
    width: 100%;
}

.fas.fa-ellipsis-h {
    margin-left: 0;
}

.fas.fa-ellipsis-h::after {
    content: '';
    position: absolute;
    background: hsla(0, 0%, 98%, 0.1);
    border-radius: 50%;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
}

.dropdown-menu {
    padding-top: 0;
}

.dropdown-item.delete-btn,
.button.delete-btn {
    background-color: transparent;
    border: none;
    font-family: inherit;
    cursor: pointer;
}

/* View post page */

.card-footer-item {
    justify-content: space-between;
}

.buttons:last-child {
    margin-bottom: 0;
}

.title {
    line-height: 1.5;
}

@media screen and (min-width: 1024px){
    .container {
        max-width: 760px;
    }
}

/* Form styling */

/* Was taken from https://codepen.io/AKGD/pen/Bmxpdb */
.progress::-webkit-progress-value {
    transition: width 0.5s ease;
  }

/* Tippy theme */

.tippy-box[data-theme~='llama-log'] {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.tippy-box[data-theme~='llama-log'][data-placement^='top'] > .tippy-arrow::before {
    border-top-color: var(--primary-color);
  }
  .tippy-box[data-theme~='llama-log'][data-placement^='bottom'] > .tippy-arrow::before {
    border-bottom-color: var(--primary-color);
  }
  .tippy-box[data-theme~='llama-log'][data-placement^='left'] > .tippy-arrow::before {
    border-left-color: var(--primary-color);
  }
  .tippy-box[data-theme~='llama-log'][data-placement^='right'] > .tippy-arrow::before {
    border-right-color: var(--primary-color);
  }