{% extends "base.html" %}

{% block title %}Edit User | Llama Log{% endblock %}

{% block header %} 
    <div class="columns is-marginless pt-3">
        <div class="column is-12">
            <h2 class="title is-size-4 has-text-centered">
                Edit {{ displayed_user.first_name}}'s Profile
            </h2>
        </div>
    </div>
    <div class="columns is-marginless pt-3">
        <div class="column is-12">
            <div class="buttons has-addons is-centered">
                <button class="button reset-btn is-danger is-size-6 m-0" data-modal="reset-{{ displayed_user._id }}">Reset Password<i class="fas fa-key"></i></button>
                <a class="button is-warning m-0" href="{{ url_for('admin.manage', user_email=session['user_email'])}}">Manage<i class="fas fa-undo"></i></a>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
<main class="container is-max-desktop is-flex is-justify-content-center is-align-items-center">
    <div class="columns is-marginless">
        <div class="column is-8 is-offset-2">
            <div class="box">
                <form method="POST" action="{{ url_for('admin.edit_user', user_id=displayed_user._id) }}">
                    <div class="field">
                        <label for="first_name" class="label">First Name<i class="fas fa-question-circle"></i></label>
                        <div class="control has-icons-left has-icons-right">
                            <input class="input is-success" id="first_name" name="first_name" type="text"
                                value="{{ displayed_user.first_name }}" required>
                            <span class="icon is-small is-left">
                                <i class="fas fa-user"></i>
                            </span>
                            <span class="icon is-small is-right">
                                <i></i>
                            </span>
                        </div>
                        <p class="help is-danger has-text-right"></p>
                    </div>
        
                    <div class="field">
                        <label for="last_name" class="label">Last Name<i class="fas fa-question-circle"></i></label>
                        <div class="control has-icons-left has-icons-right">
                            <input class="input is-success" id="last_name" name="last_name" type="text"
                                value="{{ displayed_user.last_name }}" required>
                            <span class="icon is-small is-left">
                                <i class="fas fa-user"></i>
                            </span>
                            <span class="icon is-small is-right">
                                <i></i>
                            </span>
                        </div>
                        <p class="help is-danger has-text-right"></p>
                    </div>
        
                    <div class="field">
                        <label for="dob" class="label">Date of Birth<i class="fas fa-question-circle"></i></label>
                        <div class="control has-icons-left has-icons-right">
                            <input class="input is-success" id="dob" name="dob" type="date" value="{{ displayed_user.dob }}" required>
                            <span class="icon is-small is-left">
                                <i class="fas fa-calendar-alt"></i>
                            </span>
                            <span class="icon is-small is-right">
                                <i></i>
                            </span>
                        </div>
                        <p class="help is-danger has-text-right"></p>
                    </div>
        
                    <div class="field">
                        <label for="phone" class="label">Phone<i class="fas fa-question-circle"></i></label>
                        <div class="control has-icons-left has-icons-right">
                            <input class="input is-success" id="phone" name="phone" type="number" value="{{ displayed_user.phone }}" required>
                            <span class="icon is-small is-left">
                                <i class="fas fa-phone"></i>
                            </span>
                            <span class="icon is-small is-right">
                                <i></i>
                            </span>
                        </div>
                        <p class="help is-danger has-text-right"></p>
                    </div>
        
                    <div class="field">
                        <label for="email" class="label">Email<i class="fas fa-question-circle"></i></label>
                        <div class="control has-icons-left has-icons-right">
                            <input class="input is-success" id="email" name="email" type="email" value="{{ displayed_user.email }}">
                            <span class="icon is-small is-left">
                                <i class="fas fa-envelope"></i>
                            </span>
                            <span class="icon is-small is-right">
                                <i></i>
                            </span>
                        </div>
                        <p class="help is-danger has-text-right"></p>
                    </div>
        
                    <div class="field">
                        <div class="control">
                            <label class="checkbox">
                                {% if displayed_user.is_admin == True %}
                                    <input id="is_admin" name="is_admin" type="checkbox" checked>
                                {% elif displayed_user.is_admin == False %}
                                    <input id="is_admin" name="is_admin" type="checkbox">
                                {% endif %}
                                Provide this user with admin credentials
                            </label>
                        </div>
                    </div>

                    <progress class="progress is-primary" value="0" max="100"></progress>
        
                    <div class="field">
                        <div class="control">
                            <div class="buttons is-centered">
                                <button type="submit" class="button is-link" disabled>Update User<i class="far fa-save"></i></button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal" data-modal="reset-{{ displayed_user._id }}">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
            <p class="modal-card-title">Are You Sure?</p>
            <button class="delete close-modal" aria-label="close"></button>
            </header>
            <section class="modal-card-body">
            <p>When this user's password is reset, they will have to create a new one when they next sign in.</p>
                <div class="message-body has-background-dark has-text-white">
                    <p class="is-warning">It's important to notify the user of this change.</p>
                </div>
            </section>
            <footer class="modal-card-foot is-justify-content-end">
            <div class="buttons">
                <button class="button close-modal my-0">Cancel</button>
                <a href="{{ url_for('admin.reset_password', user_id=displayed_user['_id']) }}" class="button is-danger is-size-6 m-0">Reset Password<i class="fas fa-key"></i></a>
            </div>
            </footer>
        </div>
    </div>
</main>

{% endblock %}

{% block js %}

    <!-- Development -->
    <script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.min.js"></script>
    <script src="https://unpkg.com/tippy.js@6/dist/tippy-bundle.umd.js"></script>

    <!-- Production -->
    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="https://unpkg.com/tippy.js@6"></script>

    <!-- Tooltips -->
    <script src="{{ url_for('static', filename='js/tooltips.js') }}"></script>

    <!-- Form -->
    <script src="{{ url_for('static', filename='js/form.js') }}"></script>

{% endblock %}