{% extends "base.html" %}

{% block title %}Manage Users | Llama Log{% endblock %}

{% block header %} Manage Users {% endblock %}

{% block content %}

{% for user in users %}

    <div class="card">
        <div class="card-content">
            <div class="content">
                <h3>{{ user.first_name }} {{ user.last_name }}</h3>
            </div>
        </div>
        <footer class="card-footer">
            <a href="{{ url_for('admin.edit_user', user_email=user.email) }}" class="card-footer-item">Edit</a>
            <a href="#" class="card-footer-item">Delete</a>
        </footer>
    </div>

{% endfor %}

{% endblock %}