{% extends "base.html" %}

{% block title %}Manage Users | Llama Log{% endblock %}

{% block header %}
    <div class="columns is-marginless pt-3">
        <div class="column is-12">
            <h2 class="title is-size-4 has-text-centered">Manage Users</h2>
        </div>
    </div>
    
    <div class="columns is-marginless pt-3">
        <div class="column is-12">
            <div class="buttons has-addons is-centered">
                <a class="button is-link m-0" href="{{ url_for('admin.create_user') }}">
                    Add
                    <i class="fas fa-user-plus"></i>
                </a>
                <a class="button is-warning m-0" 
                    href="{{ url_for('user.feed', user_email=session['user_email']) }}">
                    Feed<i class="fas fa-undo"></i>
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
<main class="container is-max-desktop">
    {% for user in users %}
        <div class="columns is-marginless animate__animated animate__fadeIn">
            <div class="column is-8 is-offset-2">
                <div class="card">
                    <div class="card-content">
                        <div class="content">
                            <h3 class="is-size-5">{{ user.first_name }} {{ user.last_name }}</h3>
                        </div>
                    </div>
                    <footer class="card-footer">
                        <div class="card-footer-item py-1 is-justify-content-center is-align-items-center">
                            <a href="{{ url_for('admin.edit_user', user_id=user._id) }}" class="button is-ghost is-size-6">Edit<i class="fas fa-user-edit"></i></a>
                        </div>
                        <div class="card-footer-item py-1 is-hidden-mobile is-justify-content-center is-align-items-center">
                            <button class="button reset-btn is-ghost has-text-warning-dark is-size-6" data-modal="reset-{{ user._id }}">Reset Password<i class="fas fa-key"></i></button>
                        </div>
                        <div class="card-footer-item py-1 is-justify-content-center is-align-items-center">
                            <button class="button delete-btn is-ghost has-text-danger is-size-6" data-modal="delete-{{ user._id }}">Delete<i class="fas fa-trash-alt"></i></button>
                        </div>
                    </footer>
                </div>
            </div>
        </div>
    
        <div class="modal" data-modal="reset-{{ user._id }}">
            <div class="modal-background"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                <p class="modal-card-title"><i class="fas fa-exclamation-triangle"></i>Are You Sure?</p>
                <button class="delete close-modal" aria-label="close"></button>
                </header>
                <section class="modal-card-body">
                <p>When this user's password is reset, they will have to create a new one when they next sign in.</p>
                <hr>
                    <div class="message-body message-danger has-text-white">
                        <p><i class="fas fa-exclamation-triangle"></i>It's important to notify the user of this change, as they'll need to create a new password.</p>
                    </div>
                </section>
                <footer class="modal-card-foot is-justify-content-end">
                <div class="buttons">
                    <button class="button close-modal is-warning my-0">Cancel<i class="fas fa-undo"></i></button>
                    <a href="{{ url_for('admin.reset_password', user_id=user._id) }}" class="button is-danger my-0">Reset Password<i class="fas fa-key"></i></a>
                </div>
                </footer>
            </div>
        </div>
    
        <div class="modal" data-modal="delete-{{ user._id }}">
            <div class="modal-background"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                <p class="modal-card-title"><i class="fas fa-exclamation-triangle"></i>Are You Sure?</p>
                <button class="delete close-modal" aria-label="close"></button>
                </header>
                <section class="modal-card-body">
                <p>Deleting a user's account is permanent meaning the user would no longer be able to sign in.</p>
                <hr>
                <div class="message-body message-danger has-text-white">
                    <p><i class="fas fa-exclamation-triangle"></i>The author field within this user's posts and comments will be replaced with "Deleted User".</p>
                </div>
                </section>
                <footer class="modal-card-foot is-justify-content-end">
                <div class="buttons">
                    <button class="button close-modal is-warning my-0">Cancel<i class="fas fa-undo"></i></button>
                    <a href="{{ url_for('admin.delete_user', user_id=user._id) }}" class="button is-danger my-0">Delete User<i class="fas fa-trash-alt"></i></a>
                </div>
                </footer>
            </div>
        </div>
    {% endfor %}
</main>


{% endblock %}

{% block flashes %}

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
        <article class="message {{ 'is-success' if category == 'success' else 'is-danger' }} animate__animated animate__fadeInUp">
            <div class="message-header">
                    {% if category == "success" %}
                    <i class="fas fa-thumbs-up"></i>
                    <p>Success!</p>
                    {% else %}
                    <i class="fas fa-exclamation-triangle"></i>
                    <p>Error!</p>
                    {% endif %}
                    <button class="delete flash-delete" aria-label="delete"></button>
                </div>
                <div class="message-body">
                    <p>{{ message }}</p>
                </div>
            </article>
        {% endfor %}
    {% endif %}
{% endwith %}

{% endblock %}