{% extends "base.html" %}

{% block title %}Manage Users | Llama Log{% endblock %}

{% block header %}
    <div class="columns is-marginless pt-3">
        <div class="column is-4 is-offset-2">
            <h2 class="title is-size-4">Manage Users</h2>
        </div>
        <div class="column is-4">
            <div class="buttons has-addons is-right">
                <a class="button is-link m-0" href="{{ url_for('admin.create_user') }}">
                    Add
                    <i class="fas fa-user-plus"></i>
                </a>
                <a class="button is-warning m-0" 
                    href="{{ url_for('user.feed', user_email=session['user_email']) }}">
                    Feed<i class="fas fa-undo"></i>
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}

{% for user in users %}
    {% if user.email != session["user_email"]%}
        <div class="columns is-marginless">
            <div class="column is-8 is-offset-2">
                <div class="card">
                    <div class="card-content">
                        <div class="content">
                            <h3 class="is-size-5">{{ user.first_name }} {{ user.last_name }}</h3>
                        </div>
                    </div>
                    <footer class="card-footer">
                        <div class="card-footer-item py-1">
                            <a href="{{ url_for('admin.edit_user', user_id=user._id) }}" class="button is-ghost is-size-6">Edit<i class="fas fa-user-edit"></i></a>
                        </div>
                        <div class="card-footer-item py-1">
                            <a href="{{ url_for('admin.reset_password', user_id=user._id) }}" class="button is-ghost has-text-warning-dark">Reset Password<i class="fas fa-key"></i></a>
                        </div>
                        <div class="card-footer-item py-1">
                            <button class="button delete-btn is-ghost has-text-danger" data-modal="{{ user._id }}">Delete<i class="fas fa-trash-alt"></i></button>
                        </div>
                    </footer>
                </div>
            </div>
        </div>

        <div class="modal" data-modal="{{ user._id }}">
            <div class="modal-background"></div>
            <div class="modal-card">
              <header class="modal-card-head">
                <p class="modal-card-title">Are You Sure?</p>
                <button class="delete close-modal" aria-label="close"></button>
              </header>
              <section class="modal-card-body">
                <p>Deleting a user's account will mean the user can no longer sign in.</p>
                <div class="message-body has-background-dark has-text-white">
                    <p class="is-warning">Note: The author field of this user's posts and comments will be replaced with "Deleted User".</p>
                </div>
              </section>
              <footer class="modal-card-foot is-justify-content-end">
                <div class="buttons">
                  <button class="button close-modal my-0">Cancel</button>
                  <a href="{{ url_for('admin.delete_user', user_id=user._id) }}" class="button is-success my-0">Delete User</a>
                </div>
              </footer>
            </div>
          </div>
    {% endif %}
{% endfor %}

{% endblock %}

{% block flashes %}

{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
        <article class="message is-success animate__animated animate__fadeInUp">
            <div class="message-header">
                <i class="fas fa-thumbs-up"></i>
                <p>Success!</p>
                <button class="delete flash-delete" aria-label="delete"></button>
              </div>
            <div class="message-body">
                <p>{{ message }}</p>
            </div>
        </article>
        {% endfor %}
    {% endif %}
{% endwith %}

{% endblock %}