{% extends "base.html" %}

{% block title %}Page Not Found | Llama Log{% endblock %}

{% block header %}
    <div class="columns is-marginless pt-3">
        <div class="column is-half is-offset-3 has-text-centered">
            <h2 class="title is-size-4">Oops, something went wrong.</h2>
        </div>
    </div>
{% endblock %}

{% block content %}
    <main class="container is-max-desktop is-flex is-justify-content-center is-align-items-center">
        <div class="columns is-vcentered is-centered">
            <div class="column is-flex is-justify-content-center">
                <div id="login-box" class="box">
                    <div class="columns is-multiline">
                        <div class="column is-12 is-flex is-justify-content-center is-align-items-center is-flex-direction-column">
                            <figure class="image is-64x64 mb-3">
                                <img class="is-rounded" src="{{ url_for('static', filename='images/llama-log-logo-no-text.png') }}">
                            </figure>
                        </div>
                        <div class="column has-text-centered">
                            <h2 class="title is-size-4">The page you entered could not be found.</h2>
                            <p class="subtitle is-size-5">Error code: 404</p>
                            <div class="buttons is-centered">
                                <a class="button is-warning m-0" href="{{ url_for('log_in')}}">Return to Log-In<i class="fas fa-undo"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}