<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@200;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>{% block title %}{% endblock %}</title>
</head>

<body>

    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="{{ url_for('log_in') }}">
                <img src="static/images/llama-log-logo-no-text.png">
                <h1 class="nav-logo-text is-size-4">Llama Log</h1>
            </a>
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
                data-target="exteral-navbar">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="exteral-navbar" class="navbar-menu">
            <div class="navbar-end">
                <a href="{{ url_for('log_in') }}" class="navbar-item 
                {% if request.url_rule.endpoint == 'log_in' %} is-active {% endif %} has-text-right">Log In</a>
                <a href="{{ url_for('about') }}" class="navbar-item 
                {% if request.url_rule.endpoint == 'about' %} is-active {% endif %} has-text-right">About Us</a>
                <a href="{{ url_for('user.feed') }}" class="navbar-item 
                {% if request.url_rule.endpoint == 'user.feed' %} is-active {% endif %} has-text-right">Feed</a>
                <a href="{{ url_for('user.account') }}" class="navbar-item 
                {% if request.url_rule.endpoint == 'user.account' %} is-active {% endif %} has-text-right">Account</a>
                <a href="{{ url_for('admin.manage') }}" class="navbar-item 
                {% if request.url_rule.endpoint == 'admin.manage' %} is-active {% endif %} has-text-right">Manage</a>
                <a href="{{ url_for('log_in') }}" class="navbar-item has-text-right">Log Out</a>
            </div>
        </div>
    </nav>

    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>

</html>