{% extends "base.html" %}

{% block title %}Enter Password | Llama Log{% endblock %}

{% block header %}

<div class="columns is-marginless pt-3">
    <div class="column is-8 is-offset-2 has-text-centered">
        {% if existing_user["password"] != None %}
            <h2 class="title is-size-4">Welcome Back {{ existing_user["first_name"] }}</h2>
            <p class="subtitle is-size-4">Enter Your Password</p>
        {% else %}
            <h2 class="title is-size-4">Hello {{ existing_user["first_name"] }}</h2>
            <p class="subtitle is-size-4">Create Your Password</p>
        {% endif %}
    </div>
  </div>
{% endblock %}

{% block content %}
<div class="columns is-vcentered is-centered">
    <div class="column is-flex is-justify-content-center">
        <div id="login-box" class="box">
            <div class="columns is-multiline">
                <div class="column is-12 is-flex is-justify-content-center is-align-items-center is-flex-direction-column">
                    <figure class="image is-64x64 mb-3">
                        <img class="is-rounded" src="{{ url_for('static', filename='images/llama-log-logo-no-text.png') }}">
                    </figure>
                    <h3 class="is-size-5">
                        Welcome to Llama Log
                    </h3>
                </div>
                <div class="column is-12">
                    <form method="POST" action="{{ url_for('password', user_email=existing_user['email']) }}">

                        {% if existing_user["password"] != None %}
                        <div class="field">
                            <label for="password" class="label">Password<i class="fas fa-question-circle" id="password-tooltip"></i>
                            </label>
                            <div class="control has-icons-left has-icons-right">
                                <input class="input is-success" id="password" name="password" type="password"
                                    placeholder="Enter Your Password">
                                <span class="icon is-small is-left">
                                    <i class="fas fa-key"></i>
                                </span>
                                <span class="icon is-small is-right">
                                    <i class="fas fa-check"></i>
                                </span>
                            </div>
                            <p class="help is-success has-text-right">This Password is correct</p>
                        </div>


                        <div class="buttons is-right">
                            <button type="submit" class="button is-link">Log In</button>
                        </div>

                        {% else %}
                        <div class="field">
                            <label for="password" class="label">Create New Password</label>
                            <div class="control has-icons-left has-icons-right">
                                <input class="input is-success" id="password" name="password" type="password"
                                    placeholder="Enter Your Password">
                                <span class="icon is-small is-left">
                                    <i class="fas fa-key"></i>
                                </span>
                                <span class="icon is-small is-right">
                                    <i class="fas fa-check"></i>
                                </span>
                            </div>
                            <p class="help is-success">This Password is correct</p>
                        </div>

                        <div class="field">
                            <label for="repeat_password" class="label">Re-Enter Password</label>
                            <div class="control has-icons-left has-icons-right">
                                <input class="input is-success" id="repeat_password" name="repeat_password" type="password"
                                    placeholder="Re-Enter Your Password">
                                <span class="icon is-small is-left">
                                    <i class="fas fa-key"></i>
                                </span>
                                <span class="icon is-small is-right">
                                    <i class="fas fa-check"></i>
                                </span>
                            </div>
                            <p class="help is-success">This Password is correct</p>
                        </div>


                        <div class="buttons is-right">
                            <button type="submit" class="button is-link">Create Password & Log In</button>
                        </div>
                        {% endif %}

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block flashes %}

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
        <article class="message {{ 'is-success' if category == 'success' else 'is-danger' }} animate__animated animate__fadeInUp">
            <div class="message-header">
                    {% if category == "success" %}
                    <i class="fas fa-thumbs-up"></i>
                    <p>Success!</p>
                    {% else %}
                    <i class="fas fa-exclamation-triangle"></i>
                    <p>Error!</p>
                    {% endif %}
                    <button class="delete flash-delete" aria-label="delete"></button>
                </div>
                <div class="message-body">
                    <p>{{ message }}</p>
                </div>
            </article>
        {% endfor %}
    {% endif %}
{% endwith %}

{% endblock %}

{% block js %}

    <!-- Development -->
    <script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.min.js"></script>
    <script src="https://unpkg.com/tippy.js@6/dist/tippy-bundle.umd.js"></script>

    <!-- Production -->
    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="https://unpkg.com/tippy.js@6"></script>

    <!-- Tooltips -->
    <script src="{{ url_for('static', filename='js/tooltips.js') }}"></script>

{% endblock %}