{% extends "base.html" %}

{% block title %}Enter Password | Llama Log{% endblock %}

{% block header %}
    {% if user %}
        Hello {{ current_user }} Enter Your Password 
    {% endif %}
{% endblock %}

{% block content %}

    <form method="POST" action="{{ url_for('password', user_email=existing_user['email']) }}">

        {% if existing_user["password"] != "none" %}
        <div class="field">
            <label for="password" class="label">Password</label>
            <div class="control has-icons-left has-icons-right">
                <input class="input is-success" id="password" name="password" type="password"
                    placeholder="Enter Your Password">
                <span class="icon is-small is-left">
                    <i class="fas fa-key"></i>
                </span>
                <span class="icon is-small is-right">
                    <i class="fas fa-check"></i>
                </span>
            </div>
            <p class="help is-success">This Password is correct</p>
        </div>


        <div class="field">
            <div class="control">
                <button type="submit" class="button is-link">Log In</button>
            </div>
        </div>

        {% elif existing_user["password"] != "none" %}
        <div class="field">
            <label for="password" class="label">Password</label>
            <div class="control has-icons-left has-icons-right">
                <input class="input is-success" id="password" name="password" type="password"
                    placeholder="Enter Your Password">
                <span class="icon is-small is-left">
                    <i class="fas fa-key"></i>
                </span>
                <span class="icon is-small is-right">
                    <i class="fas fa-check"></i>
                </span>
            </div>
            <p class="help is-success">This Password is correct</p>
        </div>

        <div class="field">
            <label for="repeat_password" class="label">Re-Enter Password</label>
            <div class="control has-icons-left has-icons-right">
                <input class="input is-success" id="repeat_password" name="repeat_password" type="password"
                    placeholder="Re-Enter Your Password">
                <span class="icon is-small is-left">
                    <i class="fas fa-key"></i>
                </span>
                <span class="icon is-small is-right">
                    <i class="fas fa-check"></i>
                </span>
            </div>
            <p class="help is-success">This Password is correct</p>
        </div>


        <div class="field">
            <div class="control">
                <button type="submit" class="button is-link">Create Password & Log In</button>
            </div>
        </div>

        {% else %}
        <div class="field">
            <label for="password" class="label">Password</label>
            <div class="control has-icons-left has-icons-right">
                <input class="input is-success" id="password" name="password" type="password"
                    placeholder="Enter Your Password">
                <span class="icon is-small is-left">
                    <i class="fas fa-key"></i>
                </span>
                <span class="icon is-small is-right">
                    <i class="fas fa-check"></i>
                </span>
            </div>
            <p class="help is-success">This Password is correct</p>
        </div>

        <div class="field">
            <label for="repeat_password" class="label">Re-Enter Password</label>
            <div class="control has-icons-left has-icons-right">
                <input class="input is-success" id="repeat_password" name="repeat_password" type="password"
                    placeholder="Re-Enter Your Password">
                <span class="icon is-small is-left">
                    <i class="fas fa-key"></i>
                </span>
                <span class="icon is-small is-right">
                    <i class="fas fa-check"></i>
                </span>
            </div>
            <p class="help is-success">This Password is correct</p>
        </div>


        <div class="field">
            <div class="control">
                <button type="submit" class="button is-link">Create Password & Log In</button>
            </div>
        </div>
        {% endif %}

    </form>

{% endblock %}