{% extends "base.html" %}

{% block title %}Enter Password | Llama Log{% endblock %}

{% block header %}Enter Your Password{% endblock %}

{% block content %}

    <form method="POST" action="{{ url_for('password') }}">

        <div class="field">
            <label for="password" class="label">Password</label>
            <div class="control has-icons-left has-icons-right">
                <input class="input is-success" id="password" name="password" type="password"
                    placeholder="Enter Your Password">
                <span class="icon is-small is-left">
                    <i class="fas fa-key"></i>
                </span>
                <span class="icon is-small is-right">
                    <i class="fas fa-check"></i>
                </span>
            </div>
            <p class="help is-success">This Password is correct</p>
        </div>

        <div class="field">
            <div class="control">
                <button type="submit" class="button is-link">Log In</button>
            </div>
        </div>
    </form>

{% endblock %}